{% extends "article_list.html" %}
{% block title %}{{ category }} - {{ SITENAME }}{% endblock %}
{% block meta %}
    <meta name="author" content="{{ AUTHOR }}" />
    <meta name="keywords" content="{{ category }}" />
{% endblock %}
{% block breadcrumbs %}
        <div class="under-menu">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <br><h1>{{category}}</h1>
                    </div>
                    <div class="col-md-6">
    {% if DISPLAY_BREADCRUMBS %}<br>
    <ol class="breadcrumb pull-right">
        <li><a href="{{ SITEURL }}" title="{{ SITENAME }}"><i class="fa fa-home fa-lg"></i></a></li>
        <li><a href="{{ SITEURL}}/{{ CATEGORIES_URL }}" title="{{ SITENAME }} Categories">Categories</a></li>
        <li class="active">{{ category }}</li>
    </ol>
    {% endif %}

</div>
                </div>
            </div>
        </div>
        <div class="separator_shadow"></div>
{% endblock %}
