/* text resize */

h1 {
    font-size:180%
}

h2 {
    font-size:160%
}



/* footer */

.footer-area {
    background-color: #414141;
    height: 360px;
    padding-top: 16px;
    margin-top: 32px;
}

.footer-area h3 {
    color: #fafafa;
    font-size: 120%;
}

#footer {
    font-size: 75%;
    background-color: #313131;
    color: #818181;
    padding-top: 16px;
    padding-bottom: 8px;
    border-top-style: solid;
    border-top-color: #212121;
    border-top-width: 1px;
}

ul.social-network {
    padding:0px;
    list-style:none;
    margin:15px 0px  0px  0px;
}

ul.social-network li {
    padding:0px;
    display:inline;
    margin: 0px 5px;
}

/*
#footer ul.social-network {
	float:right;
}
*/

/* Media queries */
/*@media (min-width: 768px) and (max-width: 979px) {

}

@media (max-width: 767px) {
    #footer ul.social-network {
	float:left;
    }
}
*/
/*


footer{
	padding:50px 0 0 0;
	color:#f8f8f8;
}

footer a {
	color:#fff;
}

footer a:hover {
	color:#eee;
}

footer h1, footer h2, footer h3, footer h4, footer h5, footer h6{
	color:#fff;
}

footer address {
	line-height:1.6em;
}

footer h5 a:hover, footer a:hover {
	text-decoration:none;
}



#sub-footer{
	text-shadow:none;
	color:#f5f5f5;
	padding:0;
	padding-top:30px;
	margin:20px 0 0 0;
}

#sub-footer p{
	margin:0;
	padding:0;
}

#sub-footer span{
	color:#f5f5f5;
}

.copyright {
	text-align:left;
	font-size:12px;
}
*/
