<!--
$(function(){
    $('.nav').data('size','big');
});

$(window).scroll(function(){
    var $nav = $('.navbar-nav.li.a');
    if ($('body').scrollTop() > 0) {
        if ($nav.data('size') == 'big') {
            $nav.data('size','small').stop().animate({
                line-height:'40px'
            }, 600);
        }
    } else {
        if ($nav.data('size') == 'small') {
            $nav.data('size','big').stop().animate({
                line-height:'100px'
            }, 600);
        }  
    }
});
-->

